body{
    background-color: rgb(88, 92, 91);
    background-image: url("images/group-people-illustration-set_52683-33806.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
}
#saveButton{
    background-color: green;
    border-color: greenyellow;
}
#incrementButton{
    background-color: red;
    border-color: brown;
    
}
button{
    padding: 8px;
    padding-left: 50px;
    padding-right: 50px;
    color:seashell;
    border-radius: 10px;
    border-color: brown;
}
